# Set line endings of known file types

# Git
.gitattributes text=auto
.gitignore text=auto
.gitmodules text=auto

# C++
*.c text=auto
*.h text=auto
*.cpp text=auto
*.hpp text=auto
*.ld text=auto
*.s text=auto

# Python
*.py text=auto

# CMake and Make
*.mk text=auto
Makefile text=auto
Makefile.inc text=auto
CMakeLists.txt text=auto

# Shell scripts
*.bash text=auto
*.sh text=auto

# ROS Launch files
*.launch text=auto

# ROS messages
*.msg text=auto
*.bmr text=auto

# URDF/XACRO
*.urdf text=auto
*.xacro text=auto

# Markdown
*.md text=auto

# reStructuredText
*.rst text=auto

# YAML
*.yml text=auto
*.yaml text=auto

# JSON
*.json text=auto

# XML
*.xml text=auto

# Text
*.txt text=auto
