Source: ros-foxy-dbw-polaris-joystick-demo
Section: misc
Priority: optional
Maintainer: Kevin Hallenbeck <khallenbeck@dataspeedinc.com>
Build-Depends: debhelper (>= 9.0.0), ros-foxy-ament-cmake, ros-foxy-dataspeed-dbw-common, ros-foxy-dbw-polaris-msgs, ros-foxy-rclcpp, ros-foxy-sensor-msgs, ros-foxy-std-msgs, ros-foxy-ros-workspace
Homepage: http://dataspeedinc.com
Standards-Version: 3.9.2

Package: ros-foxy-dbw-polaris-joystick-demo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-foxy-dataspeed-dbw-common, ros-foxy-dbw-polaris-can, ros-foxy-dbw-polaris-msgs, ros-foxy-joy, ros-foxy-rclcpp, ros-foxy-sensor-msgs, ros-foxy-std-msgs, ros-foxy-ros-workspace
Description: Demonstration of drive-by-wire with joystick
